
.logo {
    width: 130px;
    text-align: center;
}


.center{
    text-align: center;
}

.icons{
    width: 90px;
}

.fab{
    font-size: 40px;
}

.separator{
    padding-top: 50px;
}

.media{
    color: black;
    width: 50px;
}


.foods{
    width: 230px;
}


footer{
    background-color: #FFCBCB;
}